{% extends 'base.html.twig' %}
{% block title %}sport Ludique{% endblock %}

{% block body %}
<br><br><br>
<h2> Votre panier {{user.Username}}</h2>
    <div class="details">
        <div class="nom">
            <p> nom du produit</p>
        </div>
        <div class="description">
            <p>
                description du produit
            </p>
        </div>
    </div>
    <br>
    <br><br><br>
<div class="img_panier">
    {# <img src={{Produit.image}}> #}
</div>

{% endblock %}